header {
  overflow: hidden;
}

body {
  font-family: 'Noto Sans TC', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  width: 100%;
  height: 240px;
}

.card img:hover {
  cursor: pointer;
}

#generated-fxword {
  font-size: 32px;
   width: 100%; 
   height: 80px;
}

@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
}